<div class="scroll-container" #scrollMe>


  <app-sticky-header *ngIf="showStickyHeader" (headerClick)="scrollToCourseChips()"></app-sticky-header>
  
  @for (message of messages; track message) {
    <div class="message" #messageEl [ngClass]="{
      'user-message': message.sender === 'user',
      'bot-message': message.sender === 'bot',
      'has-json': message.isJson,
      'course-chips-message': message.component === 'course-chips',
      'course-info-message': message.component === 'course-info',
      'course-details-message': message.component === 'course-details'
    }">
      @if (message.isJson) {
        <div class="json-container">
          <pre>{{ message.text }}</pre>
          @if(message.isAction){
            <button mat-raised-button color="primary" (click)="loadCGC()" > Apply Now</button>
          }
        </div>
      } @else {
        <markdown [data]="cleanMarkdown(message.text)"></markdown>
      }
      @if (message.isComponent && message.component === 'course-info') {
        <app-course-info [data]="message.componentData"></app-course-info>
      }
      @if (message.isComponent && message.component === 'course-details') {
        <app-course-details [course]="message.componentData"></app-course-details>
      }
      @if (message.isComponent && message.component === 'gallery') {
        <app-gallery [data]="message.componentData"></app-gallery>
      }
      @if (message.isComponent && message.component === 'course-chips') {
        <div appIntersectionObserver (visibilityChange)="onVisibilityChange($event)">
          <app-course-chips [courses]="message.componentData" (showCourses)="onShowCourses($event)" (showCareers)="onShowCareers($event)" (showFees)="onShowFees($event)" (showPlacements)="onShowPlacements($event)"></app-course-chips>
        </div>
      }
      @if (message.isError) {
        <div class="error-container">
          <p class="error-text">{{ message.text }}</p>
          @if (message.retryable) {
            <button mat-stroked-button color="warn" (click)="onRetry(message)">Retry</button>
          }
        </div>
      }
      
    </div>
  }
</div>
