@for (message of messages; track message) {
  <div class="message" [ngClass]="{
    'user-message': message.sender === 'user',
    'bot-message': message.sender === 'bot',
    'has-json': message.isJson
  }">
    @if (message.isJson) {
      <div class="json-container">
        <pre>{{ message.text }}</pre>
      </div>
    } @else {
      <markdown [data]="message.text"></markdown>
    }
    @if (message.isComponent && message.component === 'course-chips') {
      <app-course-chips [courses]="message.componentData" (courseSelected)="onCourseSelected($event)"></app-course-chips>
    }
    @if (message.isComponent && message.component === 'course-info') {
      <app-course-info [data]="message.componentData"></app-course-info>
    }
  </div>
}