<mat-accordion>
  @for (group of groupedCourses; track group.stream) {
  <mat-expansion-panel [expanded]="groupedCourses.length === 1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ group.stream }} ({{ group.courses.length }} courses)
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="course-grid">
      @for (course of group.courses; track course.id) {
      <div class="course-card">
        <div class="course-header">
          <h3 class="course-name">{{ course.name }}</h3>
          <p
            class="course-summary-text"
            matTooltip="{{ course.summary }}"
            matTooltipPosition="above"
          >
            {{ course.summary | slice : 0 : 100 }}...
          </p>
        </div>

        <div class="course-details">
          <!-- Actions -->
          <div class="actions">
            <button mat-raised-button color="primary">Apply Now</button>
            <button
              mat-stroked-button
              color="primary"
              (click)="exploreCourse(course)"
            >
              Explore
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </mat-expansion-panel>
  }
</mat-accordion>
