<div class="chat-window-container">
  <mat-tab-group [ngStyle]="{ 'bottom': showChips ? '180px' : '80px' }">
    <mat-tab label="Messages">
      <ng-template matTabContent>
        <app-message-list></app-message-list>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Course Info
        @if (showCourseInfoBadge) {
          <span class="notification-dot"></span>
        }
      </ng-template>
      <ng-template matTabContent>
        <app-course-info [data]="courseInfoData$ | async"></app-course-info>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div class="form-container" [ngStyle]="{ 'height': showChips ? '180px' : '80px' }">
    @if (coursesForChips$ | async; as courses) {
      @if(courses && courses.length > 0) {
        <app-course-chips [courses]="courses" (courseSelected)="onCourseSelected($event)"></app-course-chips>
      }
    }
    <app-message-form></app-message-form>
  </div>
</div>